ul {
  list-style: none;
  padding: 0;
}
li {
  cursor: pointer;
  padding: 4px 8px;
}
button {
  background-color: #007bff;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 16px;
  margin: 8px;
  padding: 8px 16px;
  transition: background-color 0.3s;
}
button:hover {
  background-color: #0056b3;
}
.workout-logger-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.workout-logger-container h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 24px;
  text-align: center;
}
.workout-logger-container input[type='text'], .workout-logger-container input[type='number'] {
  display: block;
  width: 100%;
  max-width: 400px;
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #ddd;
  border-radius: 8px;
}
.workout-logger-container button {
  display: block;
  width: 100%;
  max-width: 400px;
  padding: 8px;
  background-color: #1e90ff;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  margin-bottom: 16px;
}
.workout-logger-container button:hover {
  background-color: #007bff;
}
.workout-logger-container ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
  max-width: 400px;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: auto;
  max-height: 200px;
}
.workout-logger-container li {
  padding: 8px;
  cursor: pointer;
  border-bottom: 1px solid #ddd;
}
.workout-logger-container li:hover {
  background-color: #f5f5f5;
}
.workout-logger-container li:last-child {
  border-bottom: none;
}
.workout-logger-container .exercise-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 400px;
}